@charset "utf-8";
/*====================
 * TOPページ
 * article.home 
====================*/
/*コンテナ幅*/
@media all{
	.home .site-content .container{
		background-color:#ffffff;
	}
}
@media only screen and (min-width: 961px){
	.home .site-content .container{
		box-sizing:border-box;
		padding:40px 150px;
	}
}
@media only screen and (max-width: 960px){
	.home .site-content .container{
		padding:40px;
	}
}
/*共通パーツ*/
@media all{
	.home h1 {
		font-weight:bold;
		height:auto;
		text-align: center;
		color : #000000;
		text-shadow: 1px 1px 3px #CFBDD7;
	}
	.home h3 {
		background-image: url(/upload/img/top/title_bg.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position:left;
		color:#000000;
		border-bottom:solid 2px #f9e21a;
		margin-bottom:2em;
		padding: 0.5em 0 0.5em 5em;
	}
	.home figcaption {
		font-size: 0.8em;
		padding:0.2em 0;
		margin:0.2em 0;
		line-height:1em;
	}
}